[2017-02-16 02:48] #478 closed

[2017-02-17 04:59] funilrys commented on #377
@EragonJ do you have a validation system for multiple propositions? I just finished the review of french.

Can be merged "as it is". But after validation of multiple propositions, it can be safely merged :wink: :smile:

[2017-02-21 14:18] Kingbalou commented on #482
Ok, so i did a fresh install of kaku by uninstalling and deleting all votatile files and now it works, don't why .. but it's okey since a week now

[2017-02-21 15:47] EragonJ commented on #482
@Kingbalou great, then i'll close this issue for now. Thanks !!

[2017-02-21 15:47] #482 closed

[2017-02-21 15:48] EragonJ opened #487 "Release 1.9.0"
It looks like there are several things got fixed, so it's time to release a new version.

[2017-03-05 21:35] PrzemekSkw opened #489 "[Linux] Can't use Kaku"
Hello, sometimes age Kaku work very good. Now after few updates I can't play any song. When I click on some track I see only reloading circle and nothing happens.

What is your Kaku version?

1.8.5

What is your OS (with version number)?

Fedora 25 Gnome
Linux 4.9.12-200.fc25.x86_64 #1 SMP Thu Feb 23 19:31:49 UTC 2017 x86_64

Which platform are you using to listen to music?

YouTube

Which track f

[2017-03-06 06:26] EragonJ commented on #489
@PrzemekSkw can you write down more details ? If you have screenshots, that would be better. You can also open developer tool and jump to console tab and see whether there is any error message showing up, anything will be helpful.

BTW, did you try to use `update Player` in settings page ? Sometimes that can solve problems.

[2017-03-06 08:07] PrzemekSkw commented on #489
Hi, that's console output:
![zrzut ekranu z 2017-03-06 08-55-48](https://cloud.githubusercontent.com/assets/25219988/23601467/e4d737b2-024b-11e7-986d-2430bc66e347.png)

when I make update player I also have error:
![zrzut ekranu z 2017-03-06 09-06-22](https://cloud.githubusercontent.com/assets/25219988/23601533/4a39e992-024c-11e7-9437-fbbb62cfe804.png)

[2017-03-15 01:25] Mladenovic92 commented on #489
i'm getting same error as @PrzemekSkw

[2017-03-15 05:37] funilrys commented on #489
can you give us
`ls -al /tmp/.mount_8cwbWe/usr/bin/ressources/app.asar.unpacked/node_modules
`ls -al /tmp/.mount_8cwbWe/usr/bin/ressources/app.asar.unpacked/node_modules/youtube-dl/bin/`

[2017-03-15 07:04] funilrys commented on #489
@EragonJ Do you have a copy of the AppImage before compilation? I'd like to take a look at it :wink:

Just installed Kaku into a fresh Linux Mint (VM) and it seem that `/tmp/.mount_*` Don't have any owner/group which is _illegal_ and my cause some weird bugs...

In between, As root we can't change/fix permissions so the only way is to take a look at the source code and try to recompile ...

[2017-03-15 07:06] funilrys commented on #489
Result of ls -al for /tmp/ @EragonJ
![deepinscreenshot20170315080548](https://cloud.githubusercontent.com/assets/14127285/23937137/3ceb83a2-0956-11e7-9398-8d40ce68aa7c.png)

[2017-03-15 11:35] PrzemekSkw commented on #489
The output is: No such file or directory

[2017-03-15 13:07] funilrys commented on #489
@PrzemekSkw It's normal you have to execute kaku in same time :smile:

[2017-03-15 13:14] Mladenovic92 commented on #489
@funilrys
![_092](https://cloud.githubusercontent.com/assets/6660598/23949975/b05fcb62-0989-11e7-8e0c-8e5fab6c23f9.png)

[2017-03-15 13:51] funilrys commented on #489
@Mladenovic92 @PrzemekSkw Aww forgot that AppImage generate a random string after .mount_ so yoou have to find the current .mount_*/usr/bin/ressources/app.asar.unpacked/node_modules

[2017-03-15 15:57] PrzemekSkw commented on #489
@funilrys sory don't understand what to do

[2017-03-15 16:56] funilrys commented on #489
Thanks @Mladenovic92 but it's strange gonna investigate myself :)

[2017-03-15 17:03] Mladenovic92 commented on #489
@funilrys
![_095](https://cloud.githubusercontent.com/assets/6660598/23960919/9e395708-09a9-11e7-907a-393cd6054946.png)

[2017-03-15 17:11] funilrys commented on #489
Is it working @Mladenovic92 ? Cause actually if you have those permissions normally you don't have the bug referred by OP

[2017-03-15 17:18] Mladenovic92 commented on #489
Nope, it is just loading and never starts.
here look: http://webmshare.com/8yR8r

[2017-03-15 17:18] funilrys commented on #489
Okay @EragonJ We have a real problem around there :sweat_smile:  ... It's all about appimage

[2017-03-15 17:22] funilrys commented on #489
We have to fins a solution asap, cause this may be reported to ALL linux distributions ... @EragonJ
[code]

[2017-03-15 18:45] LittleWhite-tb opened #491 "Add an option to disable chatroom"
I noticed the little chatroom stuff at the bottom right of Kaku. I would like to be able to remove it completely. My points are :
- I don't want the chat and since, I find it annoying to have it there
- I don't want Kaku to have any chat functionalities (I find it useless) and so I would like to remove it to free up some memory/CPU
- I don't even know to what it is connecting and it is always at 0

[2017-03-15 18:47] funilrys commented on #491
:+1:
People should have the choice @EragonJ :wink:

[2017-03-15 18:50] LittleWhite-tb opened #492 "Play All button does not seem to do anything"
#### Bug

The Play All button does not seem to work.

#### Steps to reproduce the bug

I have created a new playlist. I filled it with some songs/videos (from Youtube). I am opening the playlist and clicking on "Play All". It does not play anything.

#### What is your Kaku version?

1.8.5

#### What is your OS (with version number)?

Windows
Manjaro Linux  - 4.4.52
(My bug is not the same as #489,

[2017-03-15 18:56] funilrys commented on #492
please report to #489

[2017-03-15 18:57] LittleWhite-tb commented on #489
If it can helps.
With `ls` as normal user :
`
  1 dr-xr-xr-x  1 root      root    2048  5 déc.  16:05 .mount_3erBsr
`
Same ls as root :
`
d?????????  ? ?         ?          ?              ? .mount_3erBsr
`

[2017-03-15 18:58] funilrys commented on #489
thanks @LittleWhite-tb gonna work on a fix/workaround tomorrow (Berlin Time)

[2017-03-15 18:59] LittleWhite-tb commented on #492
On Windows, even if "Play All" didn't work, music could be played normally (by filling the play queue with songs from my playlist) and then playing on of these songs.
I suppose I did not get what the "Play All" button is supposed to do.

[2017-03-15 19:01] funilrys commented on #492
Can you give us a screenshot of the inspector under the console tab ?

[2017-03-15 19:10] LittleWhite-tb commented on #492
The two errors are related to #489. When clicking on "Play All", nothing happens.

![kaku_492](https://cloud.githubusercontent.com/assets/8618754/23966295/12a75bec-09bb-11e7-8576-a13f46871614.png)

Tomorrow, I should be able to redo this test on Windows.

[2017-03-15 19:34] funilrys commented on #492
Okay the screenshot => #489
Interesting if windows have the same behavior...

[2017-03-16 01:20] neighborhood999 commented on #492
@LittleWhite-tb In personal playlist, play all button already fixed. see #483

[2017-03-16 07:13] EragonJ commented on #489
@funilrys thanks for the help, since i don't have linux, it's hard for me to investigate this issue. If you can help on this part, it would be a big help !

[2017-03-16 07:14] EragonJ commented on #492
ok that should be fixed in 1.9.0. I think i'll take some time to release the new version.

[2017-03-16 07:41] LittleWhite-tb commented on #492
Cool.
You can put this as duplicate of #478

[2017-03-16 07:41] #492 closed

[2017-03-16 08:53] LittleWhite-tb opened #493 "[Windows] Song stops to play when I right click and contextual menu show up"
#### Bug

The music currently playing stops after 2 or 3 seconds when the contextual menu show up (right click on playlist, or on song)

#### Steps to reproduce the bug

Start to play a song. Enjoy the song. Do a right click that open up a contextual menu (i.e. right click on one of your playlist). Songs stops to play after 2/3 seconds.

#### What is your Kaku version?

1.8.5

#### What is your OS

[2017-03-16 21:07] LittleWhite-tb commented on #489
Not a problem of rights, or something like this (sorry if I mislead you yesterday).
Here what happens when running the youtube-dl command out of Kaku (I just added verbose flag) :
[code]

I have youtube-dl installed locally (I mean separately of Kaku). The Kaku's version is outdated :
[code]

When using the locally installed youtube-dl, the command results normally.
Thus, if you release 1.9.0 soon

[2017-03-16 22:41] funilrys commented on #489
Already on it @LittleWhite-tb :wink:

[2017-03-17 04:38] EragonJ commented on #489
I remember this error message is coming from `youtube-dl` which means youtube-dl needs to be updated.

Ok this is kinda surprising because sometimes `youtube-dl` needs to be updated so make sure it fits latest youtube encryption rules and that's why there is one `Update Player` button in settings panel to make sure users can click on it to force update `youtube-dl`.

The mindset in AppImage is goo

[2017-03-29 10:01] EragonJ commented on #491
lol

[2017-03-29 10:06] EragonJ commented on #493
ok it's kinda weird and i can reproduce it now, i'll check it, thanks.

[2017-03-30 17:52] LittleWhite-tb opened #494 "Add a way to add specific songs in playlist"
I would like to be able to navigate into my playlists and to add one song in the playlist, then go in another playlist and add another song and so on.
Same for the search results. Like this, I would be able to build a temporary playlist fitting my mood.

How I see the feature : just add an new entry in the right click of a song, to let the user to add it in the playlist.

[2017-04-05 01:22] EragonJ commented on #494
I think what you need is more like a general queue ?

[2017-04-05 10:10] funilrys commented on #421
Wow just realized that this issue was because Kaku use and work perfectly with node@v5.1.1 ... and the version installed at the time of the issue was node@v6.5.0 ...
@EragonJ

[2017-04-05 10:32] funilrys commented on #489
Hey @EragonJ I have a solution for Linux but don't know if you're gonna like it :) #Gitter

[2017-04-05 12:36] funilrys commented on #421
Wow just realized that the main problem was because our version of node at this time was > 5.1.1 @EragonJ

[2017-04-07 02:28] EragonJ commented on #421
@funilrys ??? so what's the version that you are using ?

[2017-04-07 02:29] EragonJ commented on #489
@funilrys go for it !! any help would be welcome!

[2017-04-07 05:38] probonopd commented on #489
When you bundle `youtube-dl` and you need to update it, then you need to update the whole AppImage. That is by design. This way you can always check the sha checksum of the file and be sure what you run. I don't like applications that change themselves.

[2017-04-07 07:15] funilrys commented on #421
@EragonJ at the time of that issue, it was node@v6.5.0

[2017-04-07 07:31] EragonJ opened #495 "[IMPORTANT] Maintainers Needed"
For some personal reasons (lie, I have too many projects undergoing so I can't contribute like what I did before to Kaku), I am looking for collaborators / maintainers for Kaku!

In my mind, Kaku can be a better open sourced media player in all platforms, so I think this project is still worth to work on and I am sure it can benefit tons of users (including you!).

If you are interested in maintai

[2017-04-07 08:34] funilrys commented on #429
@mimi89999 that's should work ... But we may have to fork an redesign a bit kaku in order to do such thing !

[2017-04-07 08:35] funilrys commented on #284
Did you start working on this @EragonJ ?

[2017-04-07 10:23] EragonJ commented on #495
BTW, your avatar will be shown on http://kaku.rocks :P

[2017-04-07 10:36] EragonJ commented on #489
@probonopd that's the main problem because `youtube-dl` is updated often but Kaku itself is not. So instead of releasing Kaku every few days, the better way is to let users update it by themselves. Is there any way we can bypass the read-only limitations in AppImage ? or any other ways ?

[2017-04-07 10:42] funilrys commented on #489
.deb will be done for this weekend normally :smile: and arch user shouldn't have problem with the patch or the application of the solution I told you @EragonJ

[2017-04-07 15:30] LittleWhite-tb commented on #494
Yes, a queue that I can fill just for this Kaku session in order to have around several hours of playing without searching new song each time a song does finish

[2017-04-07 15:47] probonopd commented on #489
@EragonJ of course you could have users install `youtube-dl` into somewhere on the `$PATH` and just use that.

[2017-04-07 16:10] funilrys commented on #489
Good idea @probonopd
We could provide `youtube-dl` as a different package @EragonJ ...

[2017-04-07 21:12] funilrys opened #496 "[Collaboration] Linux package(s)"
Hey @EragonJ,

I used `nvm` to downgrade to `node@v5.1.1`, and this is the output of `npm i` is it normal from there?
I do not have any problem with the application itself after compilation, test and build but I prefer to ask you before doing something wrong when preparing the linux package(s).

Cheers,

P.s: I'm root so don't be scared if you see root around the following, it's just normal :wink:

[2017-04-08 03:22] neighborhood999 commented on #496
Try use `npm run rebuild`

[2017-04-08 07:38] funilrys commented on #496
This is what I get @neighborhood999 . I think we're all right now. Let's go back to work :)
Closing

[code]
[code]

[2017-04-08 07:38] #496 closed

[2017-04-08 08:26] neighborhood999 opened #498 "Playlist can't rename"
In `src/views/componetns/menus/playlist.js`, missing import `dialog` module and missing `updatePlaylistsStates` method.

[2017-04-08 09:12] funilrys commented on #498
A description with it will also be better @neighborhood999 :smile_cat:

[2017-04-08 09:22] funilrys commented on #495
Tell me if it's the wrong place ...

I think it'll be great to add somewhere that we (collaborator and contributors) **need to work on branch then PR, review by other and merge**.
I just worked with non-git speaker and they just created some unexcepted bigs which could me avoid with
_work on branch then PR, review by other and merge_  ...

[2017-04-08 11:16] neighborhood999 commented on #498
@funilrys Yep!

[2017-04-08 14:55] koxu1996 commented on #489
Latest Kaku does not play songs on Ubuntu 16.04 too.

[2017-04-08 15:27] funilrys commented on #489
@koxu1996 I try to do my best to provide a package ;) I may need you to test it when I'm done cause I'm not an "Ubuntu fan" but I like to challenge myself :wink:

[2017-04-08 15:38] PrzemekSkw commented on #489
Maybe flatpak will be good option:)

[2017-04-08 15:41] funilrys commented on #489
@PrzemekSkw Arch user gonna have an update soon to fix this issue ;)
I tested it and no it's not resolving the issue with the auto updater ...

[2017-04-08 17:04] probonopd commented on #489
If you don't like "one app = one file" and the simplicity that comes with it, then yes, maybe.

[2017-04-08 18:03] koxu1996 commented on #489
@funilrys Of course, I can provide provide feedback and required info.

[2017-04-08 18:36] PrzemekSkw commented on #489
@probonopd i like option one app one file but on my fedora tgat don't work

[2017-04-08 18:38] probonopd commented on #489
Then we need to fix that ;-)

[2017-04-10 08:28] EragonJ commented on #495
@funilrys i think maybe we can treat master as a stable branch and open a new branch name with next milestone (1.9.6 for example), and people keep adding features into that branch (if your patch needs an review, then file a new PR based on that branch and mark reviewers, instead, just merge by yourself)

Everyone is responsible for your own patch and don't worry too much about it, we are human bei

[2017-04-10 08:30] EragonJ commented on #487
@funilrys @neighborhood999 feel free to mark things that you think it's important and needs to be fixed for 1.9.0. With this, we can focus on these bugs and postpone the others to next milestone. Otherwise new version will always be delayed and can't be made on time.

[2017-04-10 08:34] EragonJ commented on #489
good point, we can move it out of the dev dependency and to somewhere in `$PATH` (we can define our own) hmmmm sounds like a good idea. With this, we can also reduce Kaku's size a lot for windows users and eliminate some build time errors.

[2017-04-10 10:27] funilrys commented on #489
Hey @EragonJ @PrzemekSwk,
Arch Package is on its way 🙂 Will be available this afternoon after I solve the problem with the .desktop (berlin time)

[2017-04-10 11:23] funilrys commented on #427
I this #431 complement this issue.

[2017-04-10 11:32] funilrys commented on #489
@PrzemekSkw  @Mladenovic92 @LittleWhite-tb  & Arch Users

Please uninstall your current version of Kaku and install with
[code]

Ubuntu user please stay in hold :)

[2017-04-10 12:05] PrzemekSkw commented on #489
@funilrys Hi, what about Fedora ?

[2017-04-10 13:01] funilrys commented on #489
@PrzemekSkw Just add it to my workflow :)

[2017-04-10 13:32] PrzemekSkw commented on #489
@funilrys OK, so I will wait for good news :)

[2017-04-10 20:06] funilrys commented on #487
We should add the logo somewhere in the tree ...

[2017-04-10 21:31] koxu1996 commented on #489
I am waiting for update. I hope it will solve this errors:
[](https://i.snag.gy/EMFsW6.jpg)

[2017-04-10 21:36] probonopd commented on #489
Does it expect a read-write filesystem? AppImage is read-only by design.

[2017-04-10 21:37] Mladenovic92 commented on #489
for me it is working now
Arch Linux

[2017-04-11 07:18] funilrys commented on #489
@koxu1996 What's your OS ?

[2017-04-11 08:35] EragonJ opened #501 "Add some 3rd party library to catch errors"
As title, we need to add library to catch uncaught errors to make sure we can easily figure out issues before people complaining about it.

Here comes a list for possible solutions : http://alternativeto.net/software/rollbar/?license=free

[2017-04-11 08:47] koxu1996 commented on #489
@EragonJ Ubuntu 16.04

[2017-04-11 09:01] funilrys commented on #489
Okay thanks @koxu1996 the great news is that I'm working on the .deb package so it'll be fixed asap :)

[2017-04-12 07:15] #501 closed

[2017-04-17 12:31] Waffeldrache commented on #493
I can also confirm this behavoir on Arch Linux as well.

[2017-04-21 17:28] koxu1996 commented on #489
@funilrys Any updates?

[2017-04-28 07:27] #498 closed

[2017-04-28 07:47] #491 closed

[2017-05-03 08:46] EragonJ commented on #450
we already came up with `play queue` design so users can add tracks to that queue and do this there.

[2017-05-03 08:46] #450 closed

[2017-05-03 08:47] EragonJ commented on #284
not necessary for now.

[2017-05-03 08:47] #284 closed

[2017-05-03 08:48] #384 closed

[2017-05-03 08:55] EragonJ commented on #409
just updated the checkboxes, quite close to the goal 🤔

[2017-05-03 09:30] neighborhood999 commented on #409
@EragonJ Looks Greattt!

[2017-05-03 09:42] Werner1201 commented on #495
Man, I know you need mainteiners but I recently tried to translate some things in Portuguese and it didn't get to stay there. Did I do something wrong ?

[2017-05-03 09:57] EragonJ commented on #495
hey @Werner1201 , thanks for help! translations will only be merged into codebase before trying to release a new version, otherwise it will make codebase flooded with tons of relevant commit messages.

I'll merge all the changes from translation soon ! Sorry for making you confused 😐

While for maintainers, if you are willing to write codes, make some changes to Kaku, it would be nice and I can ad

[2017-05-05 17:19] ndstate commented on #489
Hello, I am also having issues in Ubuntu 16.04

[2017-05-05 17:54] PrzemekSkw commented on #489
I'm on Manjaro now and installed Kaku from Aur and also don't work.

[2017-05-05 18:17] koxu1996 commented on #489
Kaku does not work on Linux for a half year so it is not worth installing it.

[2017-05-12 20:48] funilrys commented on #489
Okay guys I'm back !! First sorry for the waiting time I was under exams.

Just publish a update for archlinux @PrzemekSkw just update (`pacaur -S kaku-bin`) open kaku then use the autoupdater :)

Other: I'm rechrooting debian currently so x64 package will be on his way asap (can't tell when but it's gonna be done)

[2017-05-15 06:50] PrzemekSkw commented on #489
@funilrys Hi I install from AUR kaku-bin ver. 1.8.5-2 and it works now :D thanks
Regards.

[2017-05-15 07:22] EragonJ commented on #489
@PrzemekSkw @funilrys ++++ it's awesome lol

[2017-05-17 09:42] na-ji commented on #489
Waiting to test it @funilrys !

[2017-05-17 09:46] EragonJ commented on #444
We already implemented this feature few weeks ago ! thanks @neighborhood999 !! this feature will be there in 1.9.0!! can't wait to ship i!

[2017-05-17 09:46] #444 closed

[2017-05-17 12:58] funilrys commented on #489
@koxu1996 @na-ji Please [test it ](http://ilrysfun.com/kaku_1.8.5-1_amd64.deb)! :)

[2017-05-17 13:08] na-ji commented on #489
@funilrys : It works perfectly now! Maybe you should also add a shortcut for the binary. :)

[2017-05-17 16:32] funilrys commented on #489
thanks for feedback @na-ji !

[2017-05-17 16:55] koxu1996 commented on #489
@funilrys It is working now, so next version should be released ASAP

[2017-05-17 19:24] funilrys commented on #489
@na-ji @koxu1996 Can You remove the previously installed package and install [this one](http://ilrysfun.com/kaku_1.8.5-1_amd64.deb) ? Thanks in advance :+1:

[2017-05-17 20:46] koxu1996 commented on #489
@funilrys What is different in this version?

[2017-05-17 20:58] funilrys commented on #489
Correction of the internal structure + add links +deletion of some warnings 🙂 I'm under Arch Linux so I just want to know if it's working well for you after the changes 😉

[2017-05-17 21:24] koxu1996 commented on #489
@funilrys It seems to be working fine  :+1:

[2017-05-17 21:26] funilrys commented on #489
The desktop entry too ? 🙂

[2017-05-18 08:21] na-ji commented on #489
Yes, thank you there is now a desktop entry. But you forgot to add the logo to the archive. :D

[2017-05-18 08:40] funilrys commented on #489
Damm!!  thanks @na-ji gonna look at it :joy_cat:

[2017-05-18 08:41] funilrys commented on #489
@PrzemekSkw do you still have fedora ? I need a tester :)

[2017-05-18 08:48] funilrys commented on #424
I think it's time for update :wink:

[2017-05-18 09:43] funilrys commented on #489
@na-ji [Last test](http://ilrysfun.com/kaku/deb/1.8.5/kaku_1.8.5-2_amd64.deb) and I think we're ready for the next level :+1: thanks a lot :trophy:

[2017-05-18 09:58] na-ji commented on #489
Everything perfect now @funilrys!
Also I can test on Fedora too if you want. :wink:

[2017-05-18 10:10] funilrys commented on #489
Awesome just [test it](http://ilrysfun.com/kaku/rpm/kaku-1.8.5-2.x86_64.rpm) @na-ji  :wink:

[2017-05-18 10:23] na-ji commented on #489
@funilrys The download link does not work

[2017-05-18 10:25] funilrys commented on #489
@na-ji my bad updated my last answer

[2017-05-18 11:14] na-ji commented on #489
On fedora 24, I got this error trying to install the .rpm :
`Detailed errors from the package manager follow:

Error running transaction: file / from install of kaku-1.8.5-2.x86_64 conflicts with file from filesystem-3.2-37.fc24.x86_64
file /usr/bin from install of kaku-1.8.5-2.x86_64 conflicts with file from filesystem-3.2-37.fc24.x86_64`

[2017-05-18 11:32] funilrys commented on #489
Okay thanks 👍

[2017-05-25 09:23] #493 closed

[2017-05-25 09:24] EragonJ commented on #493
thasnk @LittleWhite-tb @Waffeldrache , this is an issue in electron, already provided a patch for it.

[2017-05-26 02:42] Werner1201 commented on #495
Sorry for anwsering this late, I've been occupied. @EragonJ  I noticed you did A huge Update and my contribution wasn't there. I'm not angry or anything, since all I did meaned nothing compared with the addtions of this Huge update but I hope I'll be more faster in the future to translate the next update. I wish a lot of success to you and your app

[2017-05-26 10:21] EragonJ commented on #495
@Werner1201 I think that's because you are not following how we do translation, please check https://github.com/EragonJ/Kaku/issues/377#issue-130936113 for reference!

All translators' names will be listed to the repo later when we update translations (we'll write a script to help us grep all names from trasnifex and merge to `thanks.json`)

BTW, I'll make another section on http://kaku.rocks late

[2017-05-27 12:55] EragonJ commented on #487
done!

[2017-05-27 12:55] #487 closed

[2017-05-27 13:00] EragonJ commented on #489
@funilrys can this be closed !?

[2017-05-27 13:26] funilrys commented on #489
@EragonJ Let's close it but gonna continue commenting for fedora support :+1: The big work is already done :)

[2017-05-27 13:26] #489 closed

[2017-05-30 08:25] lickedcity commented on #435
in what way is bandcamp and soundcloud in terms of service related? their content has a very different aesthetic. How would a plugin be created?

[2017-05-30 20:44] lickedcity commented on #495
Hey – yeah I'd love to be to be a contribute !!
I've been working on the exact project idea, solo.

[2017-05-31 03:58] EragonJ commented on #495
@lickedcity thanks! any help is welcome.

[2017-06-05 08:43] weaming opened #512 "Does it support Netease Music?"
https://music.163.com
and
http://y.qq.com/

[2017-06-05 10:48] EragonJ commented on #512
@weaming yes it's possible.

[2017-06-05 10:52] EragonJ opened #513 "Dropbox sync is broken."
#### Bug

As title, it looks like the window is not responsive to user's input so users can't click `submit` even if username & password are filled.

#### Steps to reproduce the bug

1. Go to [Settings]
2. Click [Backup] and sync files to dropbox
3. when new window is shown, try to type username/password
4. the button can't be clicked

#### What is your Kaku version?

1.9.0

#### What is your OS (

[2017-06-07 09:33] #513 closed

[2017-06-07 09:54] EragonJ commented on #44
dup with #459

[2017-06-07 09:54] #44 closed

[2017-06-10 05:23] neighborhood999 commented on #409
Most modules already rewrite by ES6 syntax.

[2017-06-10 05:23] #409 closed

[2017-06-11 14:01] EragonJ commented on #409
@neighborhood999 +++++++ big thanks !

[2017-06-25 03:06] sergiopjf opened #515 "The music not playing"
**Bug**

The music not playing, is loading infinitily.

## **Console Panel Error Message:** (Computer 1**)
[code]
**Steps to reproduce the bug**

Click to play any music on top list or search.

**What is your Kaku version?**

1.9.0

**What is your OS (with version number)?**

Windows 10  x64

**Which platform are you using to listen to music?**

All

**Which track format are you using?**

Best vid

[2017-06-26 09:00] EragonJ commented on #515
@sergiopjf plz try to click `update player` in settings and try again until it's updated. thanks

[2017-06-26 18:18] sergiopjf commented on #515
On the computer 1 worked, but on computer 2 the update don't worked, it's display the following error in the console:

Download the React DevTools and use an HTTP server (instead of a file: URL) for a better development experience: https://fb.me/react-devtools
C:\Users\srmp\AppData\Local\Programs\Kaku\resources\app.asar\node_modules\fbjs\lib\warning.js:36 Warning: DashboardPage: React.createClass

[2017-06-27 02:23] EragonJ commented on #515
@sergiopjf i think the problem should be the same based on the error log and the fact that your computer 1 does work.

[2017-06-27 03:36] sergiopjf commented on #515
I uninstalled, reinstalled and updated the Kaku on computer 2 and don't worked.

[2017-06-27 04:07] sergiopjf commented on #515
I tried on a third computer and it presented the same error of computer 2.

[2017-06-29 02:28] EragonJ commented on #515
@sergiopjf can you check `C:\Users\srmp\AppData\Roaming\Kaku\` there should be a `VERSION` file, can you check how new is it ? for mine, it is `2017.06.25`

[2017-06-29 03:38] sergiopjf commented on #515
2017.06.27 and after trying update again now 2017.06.29

See attached images
![version](https://user-images.githubusercontent.com/18566003/27670420-22642b28-5c63-11e7-8c0f-588d9ffa395d.png)
![version2](https://user-images.githubusercontent.com/18566003/27670421-22651376-5c63-11e7-98aa-17d7c95401ae.png)

[2017-06-29 03:42] EragonJ commented on #515
@sergiopjf no, i mean the content of VERSION file

[2017-06-29 03:44] sergiopjf commented on #515
2017.06.25

[2017-06-29 03:44] EragonJ commented on #515
@sergiopjf then it should be working. Can you try to use powershell and try to execute `youtube-dl.exe` there ? to make sure it's working well.

[2017-06-29 03:48] sergiopjf commented on #515
![image](https://user-images.githubusercontent.com/18566003/27670645-a453aa04-5c64-11e7-9e8d-1a30864520fc.png)

[2017-06-29 03:49] EragonJ commented on #515
@sergiopjf you need to add `.\` path to execute it

[2017-06-29 03:50] sergiopjf commented on #515
![image](https://user-images.githubusercontent.com/18566003/27670680-ec042928-5c64-11e7-8481-db56951352e4.png)

[2017-06-29 03:51] EragonJ commented on #515
@sergiopjf no result ? how about execute `./youtube-dl.exe` only ?

[2017-06-29 03:54] sergiopjf commented on #515
No result. Nothing happens after running the command ./youtube-dl.exe only or full.

[2017-06-29 03:55] EragonJ commented on #515
@sergiopjf how about you remove the original youtube-dl and replace it with the one from https://yt-dl.org/latest/youtube-dl.exe ?

[2017-06-29 03:56] EragonJ commented on #515
I am guessing that there must be something missing when downloading that file in your side

[2017-06-29 03:58] sergiopjf commented on #515
Same result

[2017-06-29 04:00] EragonJ commented on #515
@sergiopjf after downloading the new youtube-dl, go to kaku and try to play songs and see what's going on there ?

[2017-06-29 04:02] sergiopjf commented on #515
![image](https://user-images.githubusercontent.com/18566003/27670936-a8e6ab78-5c66-11e7-88fd-86bd7d927e2b.png)

[2017-06-29 04:04] sergiopjf commented on #515
I can send the folder for you to examine.

[2017-06-29 04:05] EragonJ commented on #515
i'll check the screenshot & log again, for the time being, plz play it on your pc 1 LOL I need to check some codes later for this.

[2017-06-29 04:06] sergiopjf commented on #515
ok, thanks!

[2017-07-03 05:51] neighborhood999 opened #517 "[Proposal]Prettier code format"
I think we can using [Prettier](https://prettier.io/) for code formatting in Kaku.

[2017-07-03 07:17] neighborhood999 commented on #517
I opened new **lint** branch.

[2017-07-06 02:14] neighborhood999 commented on #517
[brace-style](http://eslint.org/docs/rules/brace-style)

[2017-07-06 15:56] KoreMike opened #518 "[Linux] How do you install on ubuntu?"
How do you install on ubuntu?

[2017-07-06 16:05] funilrys commented on #518
Please execute in a Terminal

`dpkg -i Kaku-1.9.0-you-architecture-here.deb` :)

[2017-07-06 16:08] funilrys commented on #518
To do: Write instructions into wiki or readme.

[2017-07-11 13:45] KoreMike commented on #518
where do I get the deb file?

[2017-07-11 13:47] funilrys commented on #518
@KoreMike [there](https://github.com/EragonJ/Kaku/releases/latest)

[2017-07-11 13:48] KoreMike commented on #518
Sorry thanks @funilrys don't know how I missed that before!

[2017-07-11 13:52] funilrys commented on #518
No problem @KoreMike :smile_cat:

[2017-07-15 09:11] #518 closed

[2017-07-19 07:03] EragonJ commented on #518
thanks!

[2017-07-19 07:04] EragonJ opened #523 "add touchbar support"
as title, maybe it's time to support touchbar ! https://github.com/electron/electron/blob/master/docs/api/touch-bar.md

[2017-07-19 07:04] EragonJ commented on #517
@neighborhood999 how's everything :D ?

[2017-07-20 00:57] neighborhood999 commented on #517
@eragonj Not yet, sorry! 😭

[2017-07-20 06:41] #523 closed

[2017-07-20 06:45] EragonJ commented on #523
If you have mac but it has no touchbar, you can use this simulator to test
 https://github.com/sindresorhus/touch-bar-simulator ! (I have touchbar so I am not sure whether this simulator works or not (?))

[2017-07-26 02:22] neighborhood999 commented on #517
I delete branch `lint`. Create new branch follow recently update.

[2017-08-18 21:45] probonopd opened #524 "[Linux] desktop file is lacking a Categories= entry"
The desktop file is lacking a `Categories=` entry in the `*.desktop` file.

According to the [menu spec](https://standards.freedesktop.org/menu-spec/latest/apa.html),

Hence, please add at least one of the following in the `Categories=` key.

Main Category | Description | Notes
-- | -- | --
AudioVideo | Application for presenting, creating, or processing multimedia (audio/video) |
Audio | An audio

[2017-08-19 08:44] funilrys commented on #524
Thanks for feedback @probonopd.

We actually don't use electron to build the linux files but @EragonJ let's try to build it with electron as we use the home directory instead of /usr/share/Kaku/... 👍

[2017-08-19 09:30] probonopd commented on #524
OK; in this case simply forget about the electron-builder comment ;) the desktop file should be easy to fix.

[2017-08-21 05:04] EragonJ commented on #524
@funilrys so what's the action item here ? can you help on this part because it's linux related lol

[2017-12-02 22:25] Fincer commented on #524
kaku.desktop file has the following entry

`Categories=Application;Audio;AudioVideo;`

and works for me on KDE/Plasma 5 desktop. The application is categorized as it should be on Linux.

[2017-12-02 22:26] Fincer commented on #429
Would be really nice to see this one solved!

[2017-12-02 22:32] Fincer opened #528 "[Linux] Minimize to tray (instead of closing the app)"
#### Bug

The application has a tray icon. As an user clicks "Close" button on the application main window, the application closes. I would prefer minimizing it to the tray and closing it by selecting such option after right-clicking the tray icon.

May need an additional application menubar with File -> Close option?

#### Steps to reproduce the bug

Press hard-coded "close" button. Expected the

[2017-12-02 23:33] #524 closed

[2017-12-03 15:36] Fincer opened #529 "[Linux] Compiling from source"
#### Bug

Difficulties to compile the program from source code. Several issues such as:
- unable to fetch data using `EragonJ/dropbox-sdk-js` in `package.json`. Changing to `dropbox/dropbox-sdk-js` fixes the fetching issue but arises multiple other issues such as...

1. broken `eslint` dependencies etc.
2. ```../src/contextify.cc:150:16: error: ‘class v8::ObjectTemplate’ has no member named ‘SetAc

[2017-12-04 10:46] funilrys commented on #529
Hello @Fincer thanks for reporting an issue and welcome to the Kaku community!

I personally can't reproduce the same behavior as yours but let's fix that together.

Can you give me the outut of `npm -v` and `node -v` ?

[2017-12-04 11:10] Fincer commented on #529
Hi there, thanks!

`npm -v` and `node -v` give an output of

[code]

With a clean Kaku 1.9.0 tar.gz source and running `npm install`, I get the following output:

[code]

End of log file 2017-12-04T11_03_16_300Z-debug.log:

[code]

[2017-12-04 11:23] funilrys commented on #529
What's the output of `hash git` ?

[2017-12-04 11:29] funilrys commented on #529
That are our issues :
- `Permission denied (publickey).`
- `fatal: clone of 'git@github.com:XXX/XXX.git'`

In other words git is trying to clone using SSH but you don't have any public key.

You should try to follow [Connecting to GitHub with SSH](https://help.github.com/articles/connecting-to-github-with-ssh/).

[2017-12-04 11:46] Fincer commented on #529
Yup, thanks for pointing that out!

SSH issue was quite trivial to fix. Still wondering why does EragonJ fork of dropbox stuff require SSH authentication as the original dropbox repository doesn't require it. Anyway, I solved this by using instructions of the following websites:

- [github.com - Adding a new SSH key to your GitHub account](https://help.github.com/articles/adding-a-new-ssh-key-to-y

[2017-12-04 16:48] Fincer commented on #529
About contextify:

Replies of multiple users on the Github topic I linked above (fabric.js) indicate that downgrading `node` to 6.X main version could solve the problem with contextify. However, I think it's not a proper solution which is why I've tried to narrow down the issue. According to my test run data & comment [here](https://github.com/kangax/fabric.js/issues/3366#issuecomment-255706556) r

[2017-12-04 17:17] Fincer commented on #529
Despite of the access token errors, I can see kaku files generated in `./Kaku-1.9.0/dist/linux-unpacked/` folder. By executing `./kaku` binary the program main window opens but stays pure white and rendering a neverending "Loading..." text with a circulating ring on the upper left corner. It never gets pass this view.

[2017-12-04 17:23] funilrys commented on #529
2 things here:

- For the Dropbox issue
    - gonna investigate later about why we use SSH instead of normal pull
- For this building issue:
   - please report to the following...

First, thanks for the `"jsdom": "^4.0.0"` which seems to fix it for `node v9.2.0` (but we must find a solution @EragonJ @neighborhood999 for that point).

Please also note that it's recommended (wiki) to use `node 6.10.

[2017-12-04 18:58] Fincer commented on #529
Thanks for taking care of this!

Yeah, I understand. It's a standard version everyone is expected to use. Additionally, I'm quite aware that new major versions can break things here...

Thanks! Unfortunately, I couldn't pin down the main cause for this "white page" issue. Maybe an issue with newer Node.js versions? Easy for you to debug it?

I understand. Hearing complaints about broken packages o

[2017-12-04 19:27] Fincer commented on #529
Allright, I tried the GIT version.

`package.json` differs from the one provided in 1.9.0 tar.gz.

Having 'electron' in 'dependencies' section in `package.json` (as it is in GIT version) leads to the following error:

This is, according to what I've read, an 'electron-builder' complaint.

Thus, I created the following patch file for git version. I still wonder if it break things here...

[code]
Re

[2017-12-05 02:26] EragonJ commented on #529
Kaku is built then, so if needed, for sure it's okay to upgrade to latest node version. For my job, we also use v8.9.0 now. Just need to make sure latest npm / node and some other dependencies issues are working well without problem.

For forked dropbox, the reason why i forked it is because during that time, there is one issue (i forgot) so i need to fork mine to patch it - https://github.com/Era

[2017-12-05 02:27] EragonJ commented on #528
@Fincer @funilrys is that the native behavior in linux ?

[2017-12-05 02:39] EragonJ commented on #529
@Fincer

In older version of npm 5, there are some bugs related to `package-lock.json` so that's why it's not committed to git. But since it's stable now, this file should be committed to git to make sure we are always using the same version of node_modules.

[2017-12-05 02:40] EragonJ commented on #529
BTW @Fincer , I am curious about what you wanna add to Kaku, if that's some coooooool features, can you share with us in a new issue? it's always nice to see some awesome people jump in and make changes ;)

[2017-12-05 08:12] Fincer commented on #529
Thanks for paying attention to this one!

The original dropbox repo works just fine on my end.

I have several ideas in mind (not saying I'd 100% sure implement them myself). Not opening new issues for them for now, maybe later. Anyway...

Fixing of these is urgent:

- [[Linux] App does not respect desktop windows style](https://github.com/EragonJ/Kaku/issues/429)
- [[Linux] Minimize to tray (inst

[2017-12-05 08:24] Fincer commented on #528
Minimizing to tray by pressing a close button is native or achievable behavior for these apps, at least:
- Valve Steam Client
- Thunderbird email
- Pidgin messenger
- VLC media player?
- Whatsapp desktop (it's an electron app by the way, hosted on [Whatsapp-Desktop/Github](https://github.com/Enrico204/Whatsapp-Desktop))

Personally, I'd pretty much prefer the behavior which is implemented in Whats

[2017-12-06 02:29] EragonJ commented on #528
Because I don't have Linux, what I can do is quickly scan whatsapp desktop's source code, so if I misunderstood things wrong, please tell me.

https://github.com/Enrico204/Whatsapp-Desktop/blob/master/app/main.js#L532-L539

Based on these lines, it looks like how they `show/hide window` and `quit app` is based on whether you did enable `tray` settings or not https://github.com/Enrico204/Whatsapp-D

[2017-12-06 02:30] EragonJ commented on #529
@Fincer ok nice, so for now, did you figure out the issue there why it can't be built on your local?

[2017-12-06 11:25] Fincer commented on #529
In summary, for the GIT version, I see three major reasons:

1. SSH authentication required to fetch source of `EragonJ/dropbox-sdk-js`. According to my testing, `dropbox/dropbox-sdk-js` works just fine.
2. Pre-defined `package-lock.json` is included
3. Something has changed in Electron? I can build Kaku if I set electron-builder version from `"^18.0.1"` to `"18.0.1"` and shift `electron` from `de

[2017-12-06 11:33] Fincer commented on #528
Yes, it is exactly as you described it. "Show Tray Icon" is toggleable option in Whatsapp-Desktop settings and behaves as you said.

I'd absolutely prefer that kind of behavior for Kaku, too. Implementing "Show in tray" toggle button in Kaku Settings and similar code part would be good enough for Linux at least. :+1:

[2017-12-06 11:45] Fincer opened #530 "Main window content not loading ("White page issue")"
#### Bug

After I have compiled Kaku from source code (GIT version) and trying to launch the program, the main window content is not loading: only white page appears with an everlasting "Loading..." text on the upper left corner.

Picture demonstrating the issue: [Kaku not loading - image](https://i.imgur.com/W160YwB.png)

#### Steps to reproduce the bug

1. Compile from source//Use GIT version
2.

[2017-12-07 08:38] EragonJ commented on #530
@Fincer there are few errors in your screenshot but it was cut. Can you check it and try to fix based on it ?

[2017-12-07 10:12] funilrys commented on #530
That's remind me my first noob issue #421 😂😂 Anyway can this be related to the node version ? 🤔

[2017-12-07 10:17] funilrys commented on #530
@Fincer did you `cp config/api_config.development.json config/api_config.production.json` ? 🤔

[2017-12-08 11:51] Fincer commented on #530
@Eragon

They are just errors I've mentioned [here](https://github.com/EragonJ/Kaku/issues/529). So nothing new in this matter. They are produced by `npm run build:linux`, not `npm install`

@funilrys

Already did `cp config/api_config.development.json config/api_config.production.json`

I am using Node 9.2.0.

Are you able to reproduce the issue with this node version?

-------------------------

[2018-02-20 15:36] CorentinDy commented on #463
Hi, back with the same error .. :/ fresh install on new pc and i've had video playback on 1 or 2 videos and now nothing

[2018-02-24 04:34] epicedos opened #531 "Blank White Screen After Drag File Music"
#### Expected behavior
Show music list after being added in the Category "Music"  in the application

#### Actual behavior
After I add the folder / music into the playlist menu of the application
the display becomes a blank screen and only displays along with show displays feature play/pause

#### How to reproduce
Run the Application
Create a folder "Music" on the menu "Add playlist"
Drag music fr

[2018-02-25 12:42] japko36 commented on #459
Hello
I'm newbie in programming, so I am asking for your understanding.
About 2 pts. If there is ordering of the playlist, I decided to add a few lines of code to temporarily solve this problem. What I propose is only the equivalent of the drag and drop feature. I added two functions in the contextual playlist menu: "Move track up" and "Move track down". Like I said before, it's just a temporary s

[2018-02-26 07:37] EragonJ commented on #531
hi @epicedos , Kaku is not designed for playing local music since ppl do have their own preferred program like iTunes, foobar ... etc.

[2018-02-26 07:45] EragonJ commented on #459
@japko36 the ultimate solution is still to provide drag & drop solution here, can you lint your codes first to make sure it fits the current coding style? it's hard to understand your code by reading it :/

[2018-02-26 08:06] #531 closed

[2018-02-26 16:21] japko36 commented on #459
I have a request, when you find a moment, could you explain something about linting, because [here](https://github.com/EragonJ/Kaku/wiki#linter) there is nothing written on how to do it? I mistakenly thought that compilation was enough :( sorry

[2018-02-27 01:55] EragonJ commented on #459
well, it should be the same coding style or something to make sure written codes are in the same format. Right now, at least make the indentation the same as the other parts, right now your codes are not aligned and are not in the same order which is hard for me to check. Hope this clarified your thought.

BTW, the reason why the wiki for that part is not ready yet is that it should be like an aut

[2018-02-27 16:52] japko36 commented on #459
I did what I could with the style of the code. I hope that it was more or less about it and you read it a bit better.

[2018-03-02 00:12] tylerecouture opened #532 "Set "best audio" via cmd line or on install?"
Is there a way to set Best Audio from the comma d line or during install? I'm using this in a high school computer lab and would like to change the default to save bandwidth. Thanks!

[2018-03-05 20:56] filisko opened #533 "Kaku stuck on "Loading""
#### Bug

#### Steps to reproduce the bug

I think that it's because I "killed" all the kaku processes (didn't send the SIGNINT signal?). So maybe there is something that should be closed on exit that didn't get close.

#### What is your Kaku version?

1.9.0.1

#### What is your OS (with version number)?

Ubuntu Mate 16.04
Linux 4.13.0-36-generic #40~16.04.1-Ubuntu SMP Fri Feb 16 23:25:58 UTC 2018

[2018-03-07 16:09] bezirganyan opened #534 "Add shuffle option for the playlist"
The player in this version is great. The only feature that is missing is the option to shuffle the music in the playlist. We have `play all` option, it would be great if there was `shuffle all` too.

P.S Thanks for the great player

[2018-03-07 18:55] Lvaskz opened #535 "feature request: provide appimage version 1.9.0"
hi, I see kaku 1.9.0 is not as appimage, can you provide one?
Will you provide appimages in the future?

[2018-03-12 08:46] EragonJ commented on #534
@bezirganyan thanks for the feedback!

[2018-03-12 08:55] EragonJ commented on #535
@funilrys I need you xD we also need to layout a better plan for kaku to make sure it can be a long-term project and hope it can get some donations to make me pay server fees :/

[2018-03-12 09:07] funilrys commented on #535
@EragonJ For sure :wink: I did post something into our Slack but it's only a starting point ...

Talking about this issue, If we add AppImage, it's normally impossible to auto update as it's read-only so it'll reintroduce #489

[2018-03-12 17:27] filisko commented on #533
Sorry, yes :smile: It's 1.9.0, I have it on my package manager as 1.9.0-1, and I've got confused

[2018-03-12 18:12] funilrys commented on #533
Do you have a link/description/screenshot to the package manager?

I do not remember publishing this to the package manager :thinking:

[2018-03-25 19:59] japko36 commented on #459
Hello again.
What do you think about the React DnD library. I just made some changes in three files to build a drag and drop function for sorting songs in a playlist. I have removed previously introduced changes in the context menu. The three files I mentioned were:
Kaku-1.9.0 / src / views / modules / Player.js,
Kaku-1.9.0 / src / views / components / shared / tracks.js,
Kaku-1.9.0 / src / views

[2018-03-26 21:32] EragonJ commented on #459
@japko36 interesting, any code for that ?

[2018-03-30 14:27] milosFromSerbia commented on #377
Hello Im Serbian i wish to translate to Serbian language from English, but at transifex page i cant find Serbian please add Serbian so i can start translate. So Serbian has 2 type of letters Latin and Cirilic so make
Serbina Latin, Serbian Cirilic.
Thanks

[2018-03-30 14:37] funilrys commented on #377
Hello @milosFromSerbia and thanks for your interest.

Can you tell me which one of those I should enable?

- Serbian (sr)
- Serbian (Latin) (Bosnia and Herzegovina) (sr_BA@latin)
- Serbian (Serbia) (sr_RS)

[2018-03-30 14:55] milosFromSerbia commented on #377
Serbian(sr) that will be cirilic
Serbian(Latin) will be latin

[2018-03-30 14:57] funilrys commented on #377
@milosFromSerbia Great you can now find them into our Transifex project :+1:

[2018-04-08 04:30] dh1ll0n opened #537 "its just a bit slow when loading songs!"
its just a bit slow when loading songs!

[2018-04-19 01:41] EragonJ commented on #537
there are too many reasons behind this and may be different from the environment. I'll close this first and we'll check it later if there are more details about it.

[2018-04-19 01:41] #537 closed

[2018-05-07 18:41] hfel commented on #535
Why not use snap or flatpak? It makes installation, desktop integration and updating easier than manual browser downloads, and in enabling updating also surpasses the AppImage format.

[2018-05-07 18:45] Lvaskz commented on #535
I think you right. Can you provide one @EragonJ ?

[2018-05-08 11:08] funilrys commented on #535
@hfel @Lvaskz will look into it please ping me if I did not answer my opinion here :+1:

[2018-06-08 19:52] onigoetz opened #538 "[Enhancement] Add support for Apple Music (through MusicKit JS)"
Hello,

will you consider adding Apple Music support on your application ?

Apple announced MusicKit JS to embed MusicKit in web apps. (https://developer.apple.com/documentation/musickitjs)
Which to my understanding makes it possible to implement it in an Electron app.

Currently the only way to access Apple Music is on Windows or macOS, but Linux has no viable option.

[2018-07-01 01:58] EragonJ commented on #538
hmm worth to give it a try i think

[2018-07-31 20:35] Lvaskz commented on #535
any progress?

[2018-08-02 08:30] SDVII opened #539 "Can't play live Youtube videos"
#### Bug

The app can't play live youtube videos

#### Steps to reproduce the bug

search lofi hip hop and click on the first result, or try any live video in general.

#### What is your Kaku version?

1.9.0

#### What is your OS (with version number)?

Windows 10 Ultimate

#### Which platform are you using to listen to music?

YouTube

#### Which track format are you using?

best audio

#### Is t

[2018-08-29 12:33] EragonJ opened #540 "update electron-builder"
It's been a while not updating Kaku, so need something to start :) Right now it seems that electron-builder is out of date for a while and there must be some important updates recently. In order to make a better support for different OS (including formats that ppl always look for), we should update this first.

[2018-09-02 14:42] nephaste opened #541 "Linux 64 point to Kaku-1.9.0-ia32.tar.gz on website"
on Website no generic x64 Linux version and in release on Githug

and on website Linux (64) point to Kaku-1.9.0-ia32.tar.gz

Kaku-1.9.0-ia64.tar.gz seems missing...

:(((

[2018-09-04 11:11] #541 closed

[2018-09-04 12:32] EragonJ commented on #541
@nephaste sorry I didn't notice this message, I'll fix that later but for now, you can download it directly from here https://github.com/EragonJ/Kaku/releases/tag/1.9.0

[2018-09-07 13:32] EragonJ commented on #540
ok this should be fixed by https://github.com/EragonJ/Kaku/commit/34f3e86c0d785cedc3fa8d30813dc8c1544bb121 , will need more tests for it.

@funilrys not sure whether you are still here or not, if yes, right now for every commit, it'll automatically trigger Travis to build everything for the draft version (for now, it is 2.0.0), so you can see latest builds here https://github.com/EragonJ/Kaku/rele

[2018-09-07 13:32] #540 closed

[2018-09-07 14:17] funilrys commented on #540
Hi @EragonJ  I'm still (and always) here :smile_cat:

Will do the test this weekend or in the coming week :+1:

[2018-11-08 15:06] mimi89999 commented on #429
Any progress on this? Could you please provide me with a screenshot of Kaku with `'titleBarStyle': 'hidden'` and without `'frame': false` as I don't have OS X?

[2018-11-08 16:35] mimi89999 opened #542 "History is kept in DB after clearing"
#### Bug

When history is cleared in the app, history isn't removed from the db.

#### Steps to reproduce the bug

1. Listen to some songs.
2. Clear history.
3. Open developer tools and browse the db. You will see songs that were in your history.
4. After restarting the app they are still in the history.

#### What is your Kaku version?

1.9.0 and 2.0 branch

#### What is your OS (with version num

[2018-11-15 05:46] EragonJ commented on #542
so are these songs still shown on your UI ?

[2018-11-15 15:33] mimi89999 commented on #542
No. They aren't. They are just left in the db.

[2018-11-16 16:31] mimi89999 commented on #542
@EragonJ I think it is important for privacy reasons. When somebody clears history, he expects them to actually be removed.

[2018-11-17 05:40] EragonJ commented on #542
if that's the case, feel free to send me patch for this issue :)

[2018-11-21 06:00] EragonJ commented on #532
I'll close this outdated issue first and feel free to reopen this issue if needed :)

[2018-11-21 06:00] #532 closed

[2018-11-21 06:00] EragonJ commented on #310
I'll close this outdated issue first and feel free to reopen this issue if needed :)

[2018-11-21 06:00] #310 closed

[2018-11-21 06:01] EragonJ commented on #392
I'll close this outdated issue first and feel free to reopen this issue if needed :)

[2018-11-21 06:01] #392 closed

[2018-11-21 06:02] EragonJ commented on #431
I'll close this outdated issue first and feel free to reopen if there is any way to bypass this in electron.

[2018-11-21 06:02] #431 closed

[2018-11-21 08:13] EragonJ commented on #451
I'll close this outdated issue first and feel free to reopen this issue if needed :)

[2018-11-21 08:13] #451 closed

[2018-11-21 15:12] EragonJ commented on #535
fixed by 2.0.1 release.

[2018-11-21 15:12] #535 closed

[2018-11-25 17:59] mimi89999 commented on #542
I think that the best way to solve this issue is to compact the db on launch.

[2018-12-18 02:06] asdfghjkl403622 opened #543 "literally will not stop loading"
it stays on the loading screen for the video indefinitely

Please describe the bug you found here!

literally just got it. im using ubuntu bionic beaver LTS.

If you do find a solid way to reproduce this, please write them down here because it can be super useful for debugging!

don't know how to check version, but today is Monday, December 15th

#### What is your OS (with version number)?

ubuntu

[2018-12-23 10:00] Nzzyme opened #544 "Suggestions"
#### Bug

N/A

#### Steps to reproduce the bug

N/A

#### What is your Kaku version?

2.0.1

#### What is your OS (with version number)?

Windows 7 Ultimate (64 bit)

*Note for Linux Users: Please provide here the result of `uname -srmv`*

#### Which platform are you using to listen to music?

YouTube

#### Which track format are you using?

best video

#### Is there any error coming from Inspecto

[2019-01-02 17:20] asdfghjkl403622 commented on #543
pls help

[2019-01-03 10:42] EragonJ commented on #544
thanks, we'll keep this into list

[2019-01-03 10:44] EragonJ commented on #543
it's hard to debug without logs from the inspector, is it possible to get the screenshot there?

[2019-01-09 03:57] asdfghjkl403622 commented on #543
I actually fixed it by updating again and restarting, but please look out for bugs like this!

[2019-01-09 03:57] asdfghjkl403622 commented on #543
(i updated my os)

[2019-01-09 12:35] EragonJ commented on #543
@asdfghjkl403622 coool ! if so, i'll close this issue first ! thanks

[2019-01-09 12:35] #543 closed

[2019-02-09 23:07] sambhavsaggi commented on #544
A dark mode would be amazing as well.

[2019-02-22 20:59] ashutoshgngwr opened #545 "[Enhancement] Add to queue option in Track context menu"
The title say it all! :smile:

[2019-04-22 02:48] #495 closed

[2019-04-22 02:49] EragonJ commented on #316
close old issue and will open a new one if needed.

[2019-04-22 02:49] #316 closed

[2019-04-22 02:49] EragonJ commented on #354
close old issue and will open a new one if needed.

[2019-04-22 02:49] #354 closed

[2019-04-22 02:49] EragonJ commented on #427
close old issue and will open a new one if needed.

[2019-04-22 02:49] #427 closed

[2019-04-22 02:50] EragonJ commented on #435
close old issue and will open a new one if needed.

[2019-04-22 02:50] #435 closed

[2019-04-22 02:50] EragonJ commented on #439
close old issue and will open a new one if needed.

[2019-04-22 02:50] #439 closed

[2019-04-22 02:51] EragonJ commented on #533
close old issue and will open a new one if needed.

[2019-04-22 02:51] #533 closed

[2019-04-22 02:51] EragonJ commented on #517
close old issue and will open a new one if needed.

[2019-04-22 02:51] #517 closed

[2019-04-22 02:51] EragonJ commented on #512
close old issue and will open a new one if needed.

[2019-04-22 02:51] #512 closed

[2019-04-22 02:52] EragonJ commented on #515
Should be fixed by latest version

[2019-04-22 02:52] #515 closed

[2019-04-22 02:52] EragonJ commented on #538
close old issue and will open a new one if needed.

[2019-04-22 02:52] #538 closed

[2019-04-22 02:53] EragonJ commented on #529
close old issue and will open a new one if needed.

[2019-04-22 02:53] #529 closed

[2019-04-22 02:54] EragonJ commented on #530
Should be fixed in latest version, if not, please file a new one with details, thanks.

[2019-04-22 02:54] #530 closed

[2019-05-02 04:16] acrisci commented on #431
The way to make media keys work on Ubuntu and most other Linux distributions is to implement the [MPRIS DBus Specification](https://specifications.freedesktop.org/mpris-spec/latest/).

There's a library for that called [mpris-service](https://github.com/dbusjs/mpris-service).

You can see a list of implementations [here](https://github.com/dbusjs/mpris-service/issues/30).

[2019-05-06 12:42] EragonJ commented on #431
@acrisci thanks i'll give it a look

[2019-05-09 10:49] Astumed opened #547 "Bad unicode support"
#### Bug

Apostrophes aren't working

#### Steps to reproduce the bug
Find a song with an apostrophe in the name and there'll be `&#39;t`

#### What is your Kaku version?

2.0.2

#### What is your OS (with version number)?

Pop!_OS 19.04

*Note for Linux Users: Please provide here the result of `uname -srmv`*
Linux 5.0.0-13-generic #14-Ubuntu SMP Mon Apr 15 14:59:14 UTC 2019 x86_64

#### Which pla

[2019-08-01 09:19] p2635 commented on #528
Same for Windows 10 please.

[2019-08-03 20:22] moda20 opened #548 "Isn't there a clear interface to interact with the player ?"
#### Feature

#### Idea

isn't there a JS class that lets you hook to the existing player and control it ? like play videos from other sources that the already existing (I implemented local video file playing) ?

#### What is your Kaku version?

2.0.2

#### What is your OS (with version number)?

Mac 10.14.1

[2019-08-04 07:10] EragonJ commented on #548
@moda20 I don't understand your meaning, any example ?

[2019-08-04 09:39] moda20 commented on #548
@EragonJ I mean is there a global class or object that I can access to handle the play in the app from my own new js file or are all the controls linked to the the built in controls.
basically tell me what should I do in js code if I want to play a video from a given URI. gib ere a simple ode fo a function like this :

[code]

[2019-08-05 06:09] EragonJ commented on #548
Yes, when you are using the `play media` key in your keyboard, it will trigger the play logic in Kaku. So maybe in your js file, you can try to watch whether there is `play media` key got pressed ?

But I don't think this will be precise enough because maybe for some special case, Kaku will not run (for example, if there is no track in your playlist)

[2019-08-05 06:12] EragonJ commented on #548
https://github.com/EragonJ/Kaku/blob/master/src/views/modules/Player.js#L463-L471

This is the main code that triggers player to play media. (the most correct one, so you can hook your js here)

[2019-08-06 07:15] EragonJ commented on #548
@moda20 Did my response answer your question :) ? If yes, I'll close this issue

[2020-03-07 09:33] angel-elda opened #549 "Drag and Droop de imagenes en la interfaz del programa"
#### Bug

Arrastre sin querer una imagen desde mi navegador, a la interfaz de kaku, esta se puso a pantalla completa ocupando toda la interfaz del programa, sin posibilidad de volver atras.
Drag an drop jejej

#### What is your Kaku version?

descargado e instalado hoy mismo

#### What is your OS (with version number)?

Windows 10

*Note for Linux Users: Please provide here the result of `uname -s

[2020-04-06 23:37] igrvlhlb opened #550 "[Linux] App freezes when playing a song"
#### Bug

When I select a song, the app freezes for about one minute.

#### Steps to reproduce the bug

I am using Arch Linux with i3 Window Manager. When I try to play a song, the song is loaded and then played without any problem. However, the GUI freezes for a while (as well as the mouse pointer shape inside Kaku's window, although the pointer itself still moves).

#### What is your Kaku versio

[2020-04-09 20:24] benchile55 commented on #377
I've done Spanish -English translation in transifex before.. will give it a go !  Thanks for this amazing app.. be safe at home

[2020-04-10 02:47] EragonJ commented on #377
@benchile55 thanks for the help :)

[2020-04-10 02:48] EragonJ commented on #549
@angel-elda ahhhh, English would be helpful :P

[2020-04-16 20:54] igrvlhlb commented on #550
OBS.: I tried to use the application on xfce4 instead of i3wm and it worked just fine! So it has something to do with the interaction with i3 :/

[2020-07-15 06:04] r1kk opened #551 "error on update then nothing plays"
#### Bug

after start it says updating then update ok. after no video plays just loading spinner

#### Steps to reproduce the bug

just start

#### What is your Kaku version?

2.0.2-1

#### What is your OS (with version number)?

Linux 5.7.0-3-MANJARO #1 SMP PREEMPT Wed Jun 3 03:15:33 UTC 2020 x86_64

#### Which platform are you using to listen to music?

YouTube (for example)

#### Which track fo

[2020-07-15 08:51] EragonJ commented on #551
maybe you can try to do force update from settings page ? give it a try ?

[2020-07-16 13:27] r1kk commented on #551
At startup notification says Autoupdating core modules..., then a few seconds Done! You can play music.
If I start any video only loading spinner appears over video.
If I go settings > update = Something went wrong...

[2020-07-21 01:58] EragonJ commented on #551
ok thanks @r1kk ! I'll check it later :)

[2020-10-07 12:31] divyanshu-in commented on #551
I'm also facing same problem, my os is xubuntu 20.04, is there any fix found yet?

[2020-10-07 13:11] sainak commented on #551
yup same thing on arch linux version 5.8.13-arch1-1

[2020-10-08 01:41] EragonJ commented on #551
not yet, but i'll take a look again, sorry :'(

[2020-10-08 04:56] divyanshu-in commented on #551
btw I looked over internet for solution and some people were saying it happens because maybe protonjs dependency you are using is outdated or something.

[2020-10-08 05:38] EragonJ commented on #551
@divyanshu-in thanks for the info. I'll put this into notes.

[2020-10-13 15:21] mrkaban opened #553 "Thank you very much for the program!"
Hello, thank you very much for a good program under a free open source license! Added a program to a Russian-language site about free software, here is the [link](https://xn--90abhbolvbbfgb9aje4m.xn--p1ai/%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0/%D0%BF%D1%80%D0%BE%D1%87%D0%B5%D0%B5/kaku-%D0%BC%D1%83%D0%B7%D1%8B%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BF%D0%BB%D0%B5%

[2020-10-14 01:21] EragonJ commented on #553
hi @mrkaban thanks for the information! Even though there are not many updates in Kaku recently, I have been working on a migration plan for it. After the migration plan is finished, I think there will be more resources (?) to maintain it.

Thanks again for the blog post :)

[2020-10-27 16:07] tylerecouture commented on #551
Same problem Ubuntu 20.04.1

[2020-11-03 13:35] sosaheri commented on #551
the same elementary os

[2020-11-18 19:17] K-mikaZ opened #554 "[debian 64bits] Kaku does not start reading."
#### Bug

the application does not start reading

[code]

#### Steps to reproduce the bug

#### What is your Kaku version?

debian 2.0.2

#### What is your OS (with version number)?

Linux 5.6.0-2-amd64 # 1 SMP Debian 5.6.14-2~mx19+1 (2020-06-14) x86_64

#### Which platform are you using to listen to music?

YouTube

#### Which track format are you using?

best video and best audio

#### Is there

[2020-11-18 20:32] K-mikaZ commented on #551
the same on MXLinux

`Linux 5.6.0-2-amd64 # 1 SMP Debian 5.6.14-2~mx19+1 (2020-06-14) x86_64
`
cannot access console from the deb ( I took the appimage and was able to take a screenshot of the console )

![99577921-545f2e80-29dc-11eb-9447-0d6b1e21783a](https://user-images.githubusercontent.com/35837568/99584450-406bfa80-29e5-11eb-962b-a9cbb552201b.png)

Apparently, update Electron would fix auto-u

[2020-11-18 20:33] K-mikaZ commented on #554
duplicate, seen too late
Post on [error on update then nothing plays #551](https://github.com/EragonJ/Kaku/issues/551#issuecomment-729936746)

[2020-11-18 20:33] #554 closed, assigned to nobody

[2021-04-17 17:44] VarLad commented on #553
@EragonJ Is the migration complete？It doesn't work for Linux anymore🙁